@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans';
    background: #ffffff;
}

.gloss {
    border-radius: 20px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    background-color: rgba(239, 239, 239, 0.6);
}