@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

html {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  perspective: 1000px;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

